<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        bootstrap="tests/test-bootstrap.php"
        colors="true">

    <testsuites>
        <testsuite name="MotorK PHP Test Unit Tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="./coverage/report" lowUpperBound="35"
             highLowerBound="70"/>
        <log type="coverage-clover" target="./coverage/coverage.xml"/>
        <log type="coverage-php" target="./coverage/coverage.serialized"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="junit" target="./coverage/logfile.xml"/>
        <log type="testdox-html" target="./coverage/testdox.html"/>
        <log type="testdox-text" target="./coverage/testdox.txt"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>